int a = 2;

boolean notSmaller = a < 2;

// Should print false
print(notSmaller);

boolean smallerOrEqaul = a <= 2;
// Should print true
print(smallerOrEqaul);


// Should print buu
if ( true && smallerOrEqaul) {
    if(false || notSmaller) {
        print("foo");
    }
    print("buu");
}

int i = 0;

while (i < 100) {
    i++;
}

// should print 100
print(i);



